html {
  background-color:black; 
  background-image: repeating-linear-gradient(180deg, rgb(15, 15, 15), rgb(15, 15, 15) 5px, #dbdbdb 40px, #dbdbdb 60px); 
    
    margin:15px;
}




body {
      display: flex;
      justify-content: center;
      margin:auto 20;
  }
  
  .wanted * {
    font-family: 'Almarai', sans-serif;
    color: rgb(176, 176, 184);
    margin:10%;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center; 
    text-transform: lowercase; 
    
  }
  
  .wanted h1 {
    
    font-weight: normal;
    font-size: 80px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing:5px; 
    
  }
  
  .wanted h2 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    

  }
  
  .wanted h2 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    /* text-transform: uppercase; */
  }
  
  .wanted hr {
    margin: 4px 10px;
    border: 0;
    border-bottom: 2px solid rgb(85, 14, 4);
  }

  .wanted p {
    font-size: 16px;
  }
  
  .wanted {
    border-radius: 10px;
    border:.5rem solid rgb(26, 26, 29);
    width: 700px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 100px 100px 100px black;
    /* background-image: url("../images/fleabagParchment.jpg"); */
    background:background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px; 
  }

.button-box {
  display:flex;
  /* flex-direction:column; */
  align-items:center; 
  align-content:space-evenly; 
  margin:8%; 
}

.button {
  color:black; 
  text-transform: uppercase;
  font-size: 25px; 
  
}

 image { 
  width: 450px;
  max-width: 100%; 

  }

  .image-wrapper { 
    min-width: 0;
    margin: 5px;
    max-height:100px; 

  }
